*{
    margin:0;
    padding: 0;
    font-family: Century Gothic;
   
}

.main{
    max-width: 1200px;
    margin: auto;
}

header{
    width: 100%;
    background:  url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

ul{
    float:right ;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 20px;
}

ul li{
    display: inline-block;
    padding: 2px;
}

ul li a{
    text-decoration: none;
    color: gray;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.6s ease-in-out;
}

ul li a:hover{
    background-color: #fff;
    color:#000 ;
}

ul li.active a{
    background-color: #fff;
    color:#000 ;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid ;
    border-spacing: 5px;
    border-color: rgb(113, 167, 185);
    border-radius: 5px;
}

.title h1{
    color: rgb(110, 98, 98);
    font-size: 70px;

}

.info{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.info p{
    color: rgb(0, 0, 0);
    font-size: 18px;
}

